/* ============================================
   ScrollPane
   ============================================ */
.scroll-pane {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-pane > .corner {
  -fx-background-color: -color-bg-subtle;
}

.scroll-pane:disabled > .scroll-bar {
  -fx-opacity: 0.3;
}

