/* ============================================
   Tabs Component
   ============================================ */
.tab-pane .tab-header-area {
  -fx-background-color: -color-bg-default;
  -fx-border-color: transparent transparent -color-border-muted transparent;
  -fx-border-width: 0 0 1px 0;
}

.tab-pane .tab {
  
}

.tab-pane .tab:hover {
  -fx-background-color: -color-accent-hover;
}

.tab-pane .tab:selected {
  -fx-background-color: -color-accent-subtle;
  -fx-border-color: transparent transparent -color-accent-emphasis transparent;
  -fx-border-width: 0 0 2px 0;
}

/* TabsAnt indicator */
.tabs-indicator-pane {
  -fx-background-color: -color-border-muted;
}

.tabs-indicator-bar {
  -fx-background-color: -color-accent-emphasis;
  -fx-background-radius: 2px;
}

