
!**/ant-design/
!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
# jpackage 打包产物（scripts/build-app.sh 输出）
# 内部开发/AI 工具规范（不对外发布）
### Eclipse ###
### IntelliJ IDEA ###
### Mac OS ###
### NetBeans ###
### VS Code ###
*.iml
*.ipr
*.iws
.DS_Store
.apt_generated
.classpath
.factorypath
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
.kotlin
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.idea/
/.junie/
/.nb-gradle/
/.qoder/
/AGENTS.md
/INTERNAL/
/PROJECT_ACCEPTANCE.md
/PROJECT_AUDIT_REPORT.md
/PROJECT_BUG.md
/PROJECT_PLAN.md
/ant-design-ref/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
ant-design-ref/
build/
target/
/ant-design-ref/AntLantaFx/.editorconfig
/ant-design-ref/AntLantaFx/src/components/_accordion.scss
/ant-design-ref/AntLantaFx/src/components/_breadcrumbs.scss
/ant-design-ref/AntLantaFx/src/components/_button.scss
/ant-design-ref/AntLantaFx/src/components/_card.scss
/ant-design-ref/AntLantaFx/src/components/_chart.scss
/ant-design-ref/AntLantaFx/src/components/_checkbox.scss
/ant-design-ref/AntLantaFx/src/components/_color-picker.scss
/ant-design-ref/AntLantaFx/src/settings/_color-scale.scss
/ant-design-ref/AntLantaFx/src/settings/_color-vars.scss
/ant-design-ref/AntLantaFx/src/components/_combo-box.scss
/ant-design-ref/AntLantaFx/src/settings/_config.scss
/ant-design-ref/AntLantaFx/src/components/_custom-text-field.scss
/ant-design-ref/AntLantaFx/src/components/_data.scss
/ant-design-ref/AntLantaFx/src/components/_date-picker.scss
/ant-design-ref/AntLantaFx/src/components/_dialog.scss
/ant-design-ref/AntLantaFx/src/settings/_effects.scss
/ant-design-ref/AntLantaFx/src/general/_extras.scss
/ant-design-ref/AntLantaFx/src/components/_html-editor.scss
/ant-design-ref/AntLantaFx/src/components/_hyperlink.scss
/ant-design-ref/AntLantaFx/src/settings/_icons.scss
/ant-design-ref/AntLantaFx/src/components/_index.scss
/ant-design-ref/AntLantaFx/src/general/_index.scss
/ant-design-ref/AntLantaFx/src/components/_label.scss
/ant-design-ref/AntLantaFx/src/components/_menu.scss
/ant-design-ref/AntLantaFx/src/components/_menu-button.scss
/ant-design-ref/AntLantaFx/src/components/_message.scss
/ant-design-ref/AntLantaFx/src/components/_modal-pane.scss
/ant-design-ref/AntLantaFx/src/components/_notification.scss
/ant-design-ref/AntLantaFx/src/components/_pagination.scss
/ant-design-ref/AntLantaFx/src/components/_popover.scss
/ant-design-ref/AntLantaFx/src/components/_progress.scss
/ant-design-ref/AntLantaFx/src/components/_radio.scss
/ant-design-ref/AntLantaFx/src/general/_root.scss
/ant-design-ref/AntLantaFx/src/components/_scrolling.scss
/ant-design-ref/AntLantaFx/src/components/_segmented-control.scss
/ant-design-ref/AntLantaFx/src/components/_selectable-text.scss
/ant-design-ref/AntLantaFx/src/components/_separator.scss
/ant-design-ref/AntLantaFx/src/components/_slider.scss
/ant-design-ref/AntLantaFx/src/components/_spinner.scss
/ant-design-ref/AntLantaFx/src/components/_split-pane.scss
/ant-design-ref/AntLantaFx/src/components/_tab-line.scss
/ant-design-ref/AntLantaFx/src/components/_tab-pane.scss
/ant-design-ref/AntLantaFx/src/general/_text.scss
/ant-design-ref/AntLantaFx/src/components/_text-input.scss
/ant-design-ref/AntLantaFx/src/components/_tile.scss
/ant-design-ref/AntLantaFx/src/components/_titled-pane.scss
/ant-design-ref/AntLantaFx/src/components/_toggle-button.scss
/ant-design-ref/AntLantaFx/src/components/_toggle-switch.scss
/ant-design-ref/AntLantaFx/src/components/_toolbar.scss
/ant-design-ref/AntLantaFx/src/components/_tooltip.scss
/ant-design-ref/AntLantaFx/src/settings/_utils.scss
/ant-design-ref/AntLantaFx/src/antdesign-dark.scss
/ant-design-ref/AntLantaFx/src/antdesign-light.scss
/ant-design-ref/AntLantaFx/assembly.xml
/ant-design-ref/AntLantaFx/src/cupertino-dark.scss
/ant-design-ref/AntLantaFx/src/cupertino-light.scss
/ant-design-ref/AntLantaFx/src/dracula.scss
/ant-design-ref/AntLantaFx/src/nord-dark.scss
/ant-design-ref/AntLantaFx/src/nord-light.scss
/ant-design-ref/AntLantaFx/pom.xml
/ant-design-ref/AntLantaFx/src/primer-dark.scss
/ant-design-ref/AntLantaFx/src/primer-dark-mini.scss
/ant-design-ref/AntLantaFx/src/primer-light.scss
/ant-design-ref/AntLantaFx/src/primer-light-mini.scss
/ant-design-ref/AntLantaFx/scenebuilder.xml
/ant-design-ref/AntLantaFx/.editorconfig
/ant-design-ref/AntLantaFx/src/components/_accordion.scss
/ant-design-ref/AntLantaFx/src/components/_breadcrumbs.scss
/ant-design-ref/AntLantaFx/src/components/_button.scss
/ant-design-ref/AntLantaFx/src/components/_card.scss
/ant-design-ref/AntLantaFx/src/components/_chart.scss
/ant-design-ref/AntLantaFx/src/components/_checkbox.scss
/ant-design-ref/AntLantaFx/src/components/_color-picker.scss
/ant-design-ref/AntLantaFx/src/settings/_color-scale.scss
/ant-design-ref/AntLantaFx/src/settings/_color-vars.scss
/ant-design-ref/AntLantaFx/src/components/_combo-box.scss
/ant-design-ref/AntLantaFx/src/settings/_config.scss
/ant-design-ref/AntLantaFx/src/components/_custom-text-field.scss
/ant-design-ref/AntLantaFx/src/components/_data.scss
/ant-design-ref/AntLantaFx/src/components/_date-picker.scss
/ant-design-ref/AntLantaFx/src/components/_dialog.scss
/ant-design-ref/AntLantaFx/src/settings/_effects.scss
/ant-design-ref/AntLantaFx/src/general/_extras.scss
/ant-design-ref/AntLantaFx/src/components/_html-editor.scss
/ant-design-ref/AntLantaFx/src/components/_hyperlink.scss
/ant-design-ref/AntLantaFx/src/settings/_icons.scss
/ant-design-ref/AntLantaFx/src/components/_index.scss
/ant-design-ref/AntLantaFx/src/general/_index.scss
/ant-design-ref/AntLantaFx/src/components/_label.scss
/ant-design-ref/AntLantaFx/src/components/_menu.scss
/ant-design-ref/AntLantaFx/src/components/_menu-button.scss
/ant-design-ref/AntLantaFx/src/components/_message.scss
/ant-design-ref/AntLantaFx/src/components/_modal-pane.scss
/ant-design-ref/AntLantaFx/src/components/_notification.scss
/ant-design-ref/AntLantaFx/src/components/_pagination.scss
/ant-design-ref/AntLantaFx/src/components/_popover.scss
/ant-design-ref/AntLantaFx/src/components/_progress.scss
/ant-design-ref/AntLantaFx/src/components/_radio.scss
/ant-design-ref/AntLantaFx/src/general/_root.scss
/ant-design-ref/AntLantaFx/src/components/_scrolling.scss
/ant-design-ref/AntLantaFx/src/components/_segmented-control.scss
/ant-design-ref/AntLantaFx/src/components/_selectable-text.scss
/ant-design-ref/AntLantaFx/src/components/_separator.scss
/ant-design-ref/AntLantaFx/src/components/_slider.scss
/ant-design-ref/AntLantaFx/src/components/_spinner.scss
/ant-design-ref/AntLantaFx/src/components/_split-pane.scss
/ant-design-ref/AntLantaFx/src/components/_tab-line.scss
/ant-design-ref/AntLantaFx/src/components/_tab-pane.scss
/ant-design-ref/AntLantaFx/src/general/_text.scss
/ant-design-ref/AntLantaFx/src/components/_text-input.scss
/ant-design-ref/AntLantaFx/src/components/_tile.scss
/ant-design-ref/AntLantaFx/src/components/_titled-pane.scss
/ant-design-ref/AntLantaFx/src/components/_toggle-button.scss
/ant-design-ref/AntLantaFx/src/components/_toggle-switch.scss
/ant-design-ref/AntLantaFx/src/components/_toolbar.scss
/ant-design-ref/AntLantaFx/src/components/_tooltip.scss
/ant-design-ref/AntLantaFx/src/settings/_utils.scss
/ant-design-ref/AntLantaFx/src/antdesign-dark.scss
/ant-design-ref/AntLantaFx/src/antdesign-light.scss
/ant-design-ref/AntLantaFx/assembly.xml
/ant-design-ref/AntLantaFx/src/cupertino-dark.scss
/ant-design-ref/AntLantaFx/src/cupertino-light.scss
/ant-design-ref/AntLantaFx/src/dracula.scss
/ant-design-ref/AntLantaFx/src/nord-dark.scss
/ant-design-ref/AntLantaFx/src/nord-light.scss
/ant-design-ref/AntLantaFx/pom.xml
/ant-design-ref/AntLantaFx/src/primer-dark.scss
/ant-design-ref/AntLantaFx/src/primer-dark-mini.scss
/ant-design-ref/AntLantaFx/src/primer-light.scss
/ant-design-ref/AntLantaFx/src/primer-light-mini.scss
/ant-design-ref/AntLantaFx/scenebuilder.xml
